<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
   
    <handlers>
      
      <add name="HelloHandler" verb="*" path="httphandlerlearn.html" type="CometLib.CustomHandler,CometLib"/>
      <add name="JpgHandler" verb="*" path="*.jpg" type="CometLib.ImageHandler,CometLib"/>
      <add name="PngHandler" verb="*" path="*.png" type="CometLib.ImageHandler,CometLib"/>
    </handlers>
    <modules>
      <add name="MyHttpModule" type="CometLib.CustomHttpModule,CometLib"/>
    </modules>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>
